---
import Layout from "../layouts/Layout.astro"
import { urlFor } from "../utils/image";
import { ImageAsset } from "@sanity/types";
import { loadQuery } from "../../sanity/lib/load-query";

interface Thanks {
  slug: string;
  title?: string;
  subtitle?: string;
  mainImage?: ImageAsset[];
}

  const response = await loadQuery<Thanks[]>({
    query: `*[_type == 'thankyou'] | order(_createdAt desc) {
      slug,
      title,
      subtitle,
      mainImage
      
    }`
  });


  const result: Thanks[] = response.data;
---
<Layout title="Thank you from Taft Hill Acres | Fort Collins Boarding Facility">
  <div class="container mx-auto"> 
    <div class="bg-tan text-center p-8">
      <h2 class="text-green text-5xl  mb-4">{result[0]?.title}</h2>
      <h3 class="text-darktan text-2xl">{result[0]?.subtitle}</h3>
      <img class="lg:w-1/2 mx-auto" src={urlFor((result[0]?.mainImage as any).asset).url()} alt={result[0]?.title} />
       </div>
      </div>
</Layout>