---
---
<div class="nav-links text-center">
  <a class="menu__item" href="/" rel="noopener noreferrer">Home</a>
  <a class="menu__item" href="/about" rel="noopener noreferrer">About</a>
  <a class="menu__item" href="/facility" rel="noopener noreferrer">Facility</a>
  <a class="menu__item" href="/training" rel="noopener noreferrer">Training</a>
  <a class="menu__item" href="/testimonials" rel="noopener noreferrer">Testimonials</a>
  <a class="menu__item" href="/contact" rel="noopener noreferrer">Contact</a>
</div>
