---
---
<div class="nav-links text-center">
  <a class="menu__item" href="/">Home</a>
  <a class="menu__item" href="/about">About</a>
  <a class="menu__item" href="/facility">Facility</a>
  <a class="menu__item" href="/training">Training</a>
  <a class="menu__item" href="/testimonials">Testimonials</a>
  <a class="menu__item" href="/contact">Contact</a>
</div>
